@import "src/styles/variables.scss";

.projects {
    height: auto;
    @media (max-width: $mobile) {
        margin-top: 240px !important;
    }

    ul {
        width: 100%;
        @media (max-width: $mobile) {
            margin-top: 24px;
        }
    }

    .project {
        position: relative;
        margin-bottom: 120px;
        height: 350px;
        @media (max-width: $mobile) {
            height: auto;
            min-height: 360px;
            width: 100%;
            padding: 25px 25px 20px;
            margin-bottom: 70px;
            display: flex;
        }

        .image {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            @media (max-width: 960px) {
                height: 280px;
                top: auto;
                bottom: 0;
            }
            @media (max-width: $mobile) {
                height: 100%;
                width: 100%;
                top: 0;
                bottom: auto;
            }

            &:before {
                content: "";
                position: absolute;
                border-radius: 4px;
                transition: $transition;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $primary;
                opacity: 0.2;
                z-index: 1;
                @media (max-width: $mobile) {
                    opacity: 0.08;
                }
            }

            img {
                height: 100%;
                border-radius: 3px;
                transition: $transition;
                filter: grayscale(100%);
                @media (max-width: 960px) {
                    height: 280px;
                }
                @media (max-width: $mobile) {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    filter: blur(1px);
                    opacity: 0.2;
                }
            }

            &:hover,
            &:focus {
              &:before {
                opacity: 0;
                @media (max-width: $mobile) {
                   opacity: 0.08;
                }
              }

              img {
                filter: none;
                @media (max-width: $mobile) {
                    filter: blur(1px);
                 }
              }
            }
        }

        .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            @media (max-width: $mobile) {
                z-index: 2;
                position: relative;
                height: auto;
                min-height: 100%;
            }

            .titleLink {
                flex: 0;
                margin-top: 24px;
                display: block;
                transition: $transition;
                color: $secondary-lightest;
                font-size: 24px;

                &:hover {
                    color: $primary;
                }

                @media (max-width: 1160px) {
                    margin-top: 0;
                }

                @media (max-width: $mobile) {
                    margin-top: 0px;
                    font-size: 22px;
                }

            }

            .description {
                flex: 0;
                margin-top: 16px;
                background-color: #111;
                z-index: 2;
                padding: 25px;
                border-radius: 4px;
                max-width: 500px;
                font-size: 16px;
                box-shadow: 0 10px 30px -15px black;
                white-space-collapse: break-spaces;

                @media (max-width: 1160px) {
                    max-width: 400px;
                }

                @media (max-width: $mobile) {
                    background-color: transparent;
                    font-size: 14px;
                    padding: 0;
                    margin-top: 16px;
                }
            }

            .bottomBlock {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: 24px;
                width: 100%;
                @media (max-width: 1160px) {
                    margin-bottom: 0;
                }
                @media (max-width: $mobile) {
                    margin-bottom: 0;
                }
            }

            .technologies {
                z-index: 2;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                row-gap: 5px;
                .technology {
                    display: inline;
                    margin-right: 16px;
                    font-size: 14px;
                    @media (max-width: $mobile) {
                       margin-right: 10px;
                    }
                }
            }

            .links {
                display: flex;
                margin-top: 20px;
                column-gap: 10px;
            }

            svg {
                height: 20px;
                width: 20px;
                transition: $transition;
                color: $secondary-lightest;
                &:hover {
                    color: $primary;
                  }
              }
        }

        &:nth-child(2n) {
            .image {
                right: auto;
                left: 0;
            }

            .content {
                align-items: flex-end;
                @media (max-width: $mobile) {
                    align-items: flex-start;
                }
            }

            .description {
                text-align: right;
                @media (max-width: $mobile) {
                    text-align: left;
                }
            }

            .links {
                justify-content: flex-end;
                @media (max-width: $mobile) {
                    justify-content: flex-start;
                }
            }

            .technologies {
                justify-content: flex-end;
                @media (max-width: $mobile) {
                    justify-content: flex-start;
                }
            }

            .technologies .technology {
                margin-right: 0;
                margin-left: 16px;
                @media (max-width: $mobile) {
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }
    }
}
