services:
  mysite:
    image: gazzati/mysite:latest
    ports:
      - "3000:3000"
    restart: unless-stopped
    env_file: .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./data.mmdb:/app/data.mmdb:ro
