@import "src/styles/variables.scss";

.menu {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  z-index: 4;
  background-color: #0b0a0a;
  box-shadow: -10px 0px 30px -15px #161616;


  display: flex;

}