@import "styles/variables.scss";

.menu {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 64px 16px;
  width: min(75vw, 400px);
  height: 100vh;
  z-index: 4;
  background-color: #101013;
  box-shadow: -10px 0px 30px -15px #161616;
  transform: translateX(100vw);
  transition: $transition;
}

.open {
  transform: translateX(0);
  visibility: visible;
}

.nav {
  width: 100%;
  margin-left: 32px;
}

.list {
  li {
    margin-top: 16px;
  }
}

.link,
.locale {
  color: $secondary-lightest;
  font-size: 16px;
  transition: $transition;

  &:hover {
    color: $primary;
  }
}

.divider {
  background-color: $secondary-lightest;
  height: 1px;
  width: 70px;
  margin: 16px 0;
}
