@import "styles/variables.scss";

.burger {
  display: none;
  height: 30px;
  width: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 11;
  transition-duration: 0.5s;

  @media (max-width: $mobile) {
    display: flex;
  }
}

.burgerLeft,
.burgerRight {
  height: 2px;
  width: 15px;
  background-color: $primary;
  transition-duration: 0.5s;
  position: absolute;
  top: 14px;
}

.burgerLeft {
  border-radius: 4px 0 0 4px;
  left: 0;

  &:before,
  &:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 2px;
    border-radius: 4px 0 0 4px;
    background-color: $primary;
    content: "";
  }

  &:before {
    top: -10px;
  }

  &:after {
    top: 10px;
  }
}

.burgerRight {
  border-radius: 0 4px 4px 0;
  left: 15px;

  &:before,
  &:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 2px;
    border-radius: 0 4px 4px 0;
    background-color: $primary;
    content: "";
  }

  &:before {
    top: -10px;
  }

  &:after {
    top: 10px;
  }
}

.burgerOpen {
  .burgerLeft {
    transition-duration: 0.5s;
    background: transparent;

    &:before {
      transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    }

    &:after {
      transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    }
  }

  .burgerRight {
    transition-duration: 0.5s;
    background: transparent;

    &:before {
      transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    }

    &:after {
      transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    }
  }
}
