@font-face {
  font-family: "Rubik";
  font-weight: normal;
  font-style: normal;

  src: url("assets/fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: bold;
  font-style: normal;

  src: url("assets/fonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 300;
  font-style: normal;

  src: url("assets/fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-weight: 600;
  font-style: normal;

  src: url("assets/fonts/Rubik-Semibold.ttf") format("truetype");
}
