$bg: #000;
$primary: rgb(255, 111, 0);
$secondary: #8892b0;
$secondary-light: #a8b2d1;
$secondary-lightest: #ccd6f6;
$secondary-dark: #282828;

$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

$mobile: 767px;
