@import "src/styles/variables.scss";

.miniHeading {
  font-size: 16px;
  color: $primary;
}

.bigHeading {
  font-weight: 600;
  font-size: 80px;
}

.lightestHeading {
  color: $secondary-lightest;
}

.description {
  white-space: pre-wrap;
}

.image {
  width: 100%;
}