@import "src/styles/variables.scss";

.miniHeading {
  font-size: 16px;
  color: $primary;
}

.bigHeading {
  font-weight: 600;
  font-size: 82px;
}

.ossetianHeading {
  font-size: 69px;
}

.lightestHeading {
  color: $secondary-lightest;
}

.description {
  max-width: 484px;
}

.image {
  width: 100%;
}