@import "src/styles/variables.scss";

.miniHeading {
  font-size: 16px;
  color: $primary;
  margin-bottom: 16px;
}

.bigHeading {
  font-weight: 600;
  font-size: 80px;

  @media (max-width: $mobile) {
    font-size: 40px;
    line-height: 1.1;
  }
}

.lightestHeading {
  color: $secondary-lightest;
}

.description {
  white-space: pre-wrap;
  font-size: 20px;
  margin-top: 16px;

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}

.image {
  width: 100%;
}