.about {
  display: flex;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.aboutText {
  width: 60%;

  @media (max-width: $mobile) {
    width: 100%;
  }

  p {
    margin-bottom: 16px;
  }

  .fake {
    text-decoration: line-through;
  }

  a {
    color: $primary;
    opacity: 0.8;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      width: 0px;
      height: 1px;
      position: relative;
      bottom: 0.16em;
      background-color: $primary;
      transition: $transition;
      opacity: 0.7;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.portrait {
  margin-left: 48px;
  position: relative;

  @media (max-width: $mobile) {
    margin: 32px auto 0;
  }

  &:hover,
  &:focus {
    outline: 0;

    &:after {
      top: 15px;
      left: 15px;

      @media (max-width: $mobile) {
        top: 10px;
        left: 10px;
      }
    }

    &:before {
      opacity: 0;
    }

    img {
      filter: none;
    }
  }

  img {
    width: 300px;
    height: auto;
    position: relative;
    transition: $transition;
    border-radius: 4px;
    filter: grayscale(100%);

    @media (max-width: $mobile) {
      width: 224px;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    border-radius: 4px;
    transition: $transition;
    width: 300px;
    height: 300px;

    @media (max-width: $mobile) {
      width: 224px;
      height: 224px;
    }
  }

  &:before {
    top: 0;
    left: 0;
    background-color: $primary;
    opacity: 0.2;
    z-index: 1;
  }

  &:after {
    border: 2px solid $primary;
    top: 20px;
    left: 20px;
    z-index: -1;

    @media (max-width: $mobile) {
      top: 14px;
      left: 14px;
    }
  }
}
