@import "src/styles/variables.scss";
@import "src/styles/animations.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 0 48px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  transition: $transition;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.80);
  backdrop-filter: blur(10px);
  transition: transform 0.4s;

  @media (max-width: $mobile) {
    padding: 0 16px;
  }
}

.logo {
  width: 82px;
  height: 40px;
  border: 1px $primary solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(0);
  transition: 1s;
  background: $bg;

  &:hover {
    background-color: $primary;
    .logoText {
      color: $bg;
    }
  }

  &::before,
  &::after {
    position: absolute;
    background: $bg;
    z-index: -1;
    transition: 1s;
    content: "";
  }

  &::before {
    height: 40px;
    width: 66px;
    animation: logo-width 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
  }

  &::after {
    width: 82px;
    height: 30px;
    animation: logo-height 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
  }
}

.logoText {
  font-size: 18px;
  color: $primary;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 13px;
}

.list {
  display: flex;

  @media (max-width: $mobile) {
    display: none;
  }
}

.link {
  margin: 0 5px;
  transition: $transition;

  &:hover {
    color: $primary;
  }
}

.divider {
  margin-left: 5px;
}

.locale {
  cursor: pointer;
  width: 52px;
  transition: $transition;
  margin-left: 10px;

  &:hover {
    color: $primary;
  }
}
