.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  text-align: center;
  font-size: 14px;

  // @media (max-width: $mobile) {

  // }
}

.rights {
  margin-top: 4px;
}
